body {
  margin: 0;
  background: #050510;
  font-family: 'Orbitron', sans-serif;
  color: #00ffff;
}

header {
  position: sticky;
  top: 0;
  background: black;
  padding: 15px;
  text-align: center;
  border-bottom: 2px solid #8000ff;
}

h1 {
  color: #ff00ff;
  text-shadow: 0 0 15px #ff00ff;
}

nav a {
  margin: 0 15px;
  color: #00ffff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-shadow: 0 0 15px #00ffff;
}

#search {
  margin-top: 10px;
  padding: 8px;
  background: #111;
  color: #00ffff;
  border-radius: 6px;
  border: none;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.game-card {
  background: #111122;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #8000ff;
  transition: 0.3s;
}

.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #00ffff;
}

#gameModal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.95);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#gameModal.active {
  display: flex;
}

#gameFrame {
  width: 90%;
  height: 90%;
  border: 2px solid #ff00ff;
}

#closeBtn {
  position: absolute;
  top: 20px;
  right: 30px;
  background: red;
  border: none;
  font-size: 22px;
  cursor: pointer;
  z-index: 10000;
}
